#Content .Content{
  width: 100vw;
  height: calc(100vh - 56px);
  background-color: rgb(240, 240, 240);
}

#Content .con{
  height: calc(100vh - 108px);
  background-color: white;
  margin:0 auto;
}
#Content.start{
  border-radius: 0.25rem 0 0 0;
}
#Content.end{
  border-radius: 0 0.25rem 0 0;
}

